<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title> joke列表</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <%include include/head.html%>
</head>

<body class="gray-bg">


<div class="wrapper wrapper-content">
    <div class="row">


        <div id="toolbar" class="btn-group">
            <a class="btn  btn-danger btn-rounded"  id="del">删除</a>
            <a href="<%=_web.url%>/admin/user/from" class="btn btn-primary btn-rounded">添加</a>
        </div>
        <table id="table">

        </table>
    </div>
</div>
</div>

</body>
<script type="text/javascript">
    $(function () {
        $("#search").click(function(){
            $('#table').bootstrapTable('refresh');
        })
        $('#table').bootstrapTable({
            url: '<%=_web.url%>/admin/joke/list',   //请求后台的URL（*）
            method: 'get',      //请求方式（*）
            dataType: "json",
            singleSelect: false,
            contentType: "application/x-www-form-urlencoded",
            striped: true,      //是否显示行间隔色
            cache: false,      //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
            pagination: true,     //是否显示分页（*）
            sortable: false,      //是否启用排序
            sortOrder: "asc",     //排序方式
            queryParams:  function(params) {
                return {
                    pageNumber: params.offset + 1 -1,  //第几天条开始
                    pageSize: params.limit,   //每页条数
                };
            },//传递参数（*）oTableInit.queryParams
            sidePagination: "server",   //分页方式：client客户端分页，server服务端分页（*）
            pageNumber:1,      //初始化加载第一页，默认第一页
            pageSize: 10,      //每页的记录行数（*）
            pageList: [10,15,25,35],  //可供选择的每页的行数（*）
            search: true,      //是否显示表格搜索，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
            strictSearch: true,
//            searchText: '搜索文章',
            toolbar: '#toolbar',
            clickToSelect: true,//选择行即选择checkbox
            singleSelect: false,//仅允许单选
            showColumns: true,     //是否显示所有的列
            showRefresh: true,     //是否显示刷新按钮
            minimumCountColumns: 2,    //最少允许的列数
            height: 500,      //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
            uniqueId: "id",      //每一行的唯一标识，一般为主键列
            showToggle:true,     //是否显示详细视图和列表视图的切换按钮
            cardView: false,     //是否显示详细视图
            detailView: false,     //是否显示父子表
            columns: [{
                checkbox:true,
                title: '选择',
                },{
                    field: 'cname',
                    title: '分类',
                },{
                    field: 'tname',
                    title: '标签',
                },{
                    field: 'title',
                    title: 'title',
                }
                ,{
                    field: 'content',
                    title: '内容'
                }
                ,{
                    field: 'uname',
                    title: '用户名称',
                },{
                    field: 'zan',
                    title: '赞',
                },{
                    field: 'cai',
                    title: '踩'
                },{
                    field: 'ydu',
                    title: '访问',
                },{
                    field: 'scang',
                    title: '收藏',
                },{
                    field: 'plun',
                    title: '评论',
                },{
                    field: 'zfa',
                    title: '转发',
                },{
                    field: 'ctime',
                    title: '发布时间',
                    formatter: function (value, row, index) {
                        var da = new Date(value.replace("/Date(", "").replace(")/" , "").split( "+")[0]);
                        return da.getFullYear() + "-" + (da.getMonth() + 1) + "-" + da.getDate() + " " + da.getHours() + ":" + da.getMinutes() + ":" + da.getSeconds();
                    }
                },{
                    field: 'isdel',
                    title: '状态',
                formatter: function (value, row, index) {
                    if(value ==0){
                        return '删除'
                    }else if(value ==1){
                        return '正常'
                    }else if(value ==2){
                        return '未审批'
                    }
                }
                }, {

                    field: 'id',
                    title: '操作',
                    width: 100,
                    align: 'center',
                    formatter: operateFormatter,
                }],
        });
        //多行删除
        $('#del').click(function () {
            var arr =  $('#table').bootstrapTable('getAllSelections')
            if(arr.length==0){
                layer.msg('请选择一条数据',{time:2000,icon:0})
            }else {
                layer.confirm('是否删除?', {icon: 3, title:'提示'}, function(index){
                    //do something
                    layer.close(index);
                    var l = []
                    for (var i=0;i<arr.length;i++){
                        l.push(arr[i].id)
                    }
                    $.get('<%=_web.url%>/admin/user/del',{id :l.toString()},function(data){
                        if(data.s==1){
                            layer.msg(data.msg,{time:2000,icon:1})
                            for (var k=0;k<arr.length;k++){
                                $('#table').bootstrapTable('removeByUniqueId', arr[k].id)
                            }
                        }else{
                            layer.msg(data.msg,{time:2000,icon:2})
                        }
                    })
                });
            }
        })


    })
    function operateFormatter(value) { //只需要value==id
        var d =  "<a  onclick=del("+value+")><i class='fa fa-close'></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;";
        var b = "<a href='<%=_web.url%>/admin/user/from?id="+value+"'><i class='fa fa-pencil-square-o'></i></a>";
        return d+b;
    }
    $("#search").click(function(){
        $('#table').bootstrapTable('refresh');
    })

    function del(value) {
        layer.confirm('是否删除?', {icon: 3, title:'提示'}, function(index){
            //do something
            layer.close(index);
            $.get('<%=_web.url%>/admin/user/del',{id:value},function(data){
                if(data.s==1){
                    $('#table').bootstrapTable('removeByUniqueId', value);
                    layer.msg(data.msg,{time:2000,icon:1})
                }else{
                    layer.msg(data.msg,{time:2000,icon:2})
                }
            })
        });
    }
</script>
</body>

</html>
