<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>屌丝社区</title>
    <%include include/head.html%>
    <link href="/static/css/plugins/toastr/toastr.min.css" rel="stylesheet">

    <script src="/static/js/plugins/toastr/toastr.min.js"></script>
</head>
<body class="gray-bg">

<div class="wrapper wrapper-content   animated fadeInRight blog">
    <div class="row ">
        <div class="col-sm-7 col-lg-offset-2">
            <div class="ibox ">
                <div class="ibox-content">
                <form class="form-horizontal m-t" id="signupForm">
                    <div class="form-group">
                        <label class="col-sm-3 control-label"></label>
                        <div class="col-sm-8">
                           <h2>用户注册</h2>
                            <hr>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">用户名：</label>
                        <div class="col-sm-8">
                            <input  id="username" name="username" class="form-control" type="text" aria-required="true" aria-invalid="true" class="error">
                            <span class="help-block m-b-none"><i class="fa fa-info-circle"></i> 3-20个字符</span>
                        </div>

                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">E-mail：</label>
                        <div class="col-sm-8">
                            <input id="email" name="email" class="form-control" type="email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">手机：</label>
                        <div class="col-sm-8">
                            <input id="phone" name="phone" class="form-control" type="number">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">密码：</label>
                        <div class="col-sm-8">
                            <input id="password" name="password" class="form-control" type="password">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">确认密码：</label>
                        <div class="col-sm-8">
                            <input id="confirm_password" name="confirm_password" class="form-control" type="password">
                            <span class="help-block m-b-none"><i class="fa fa-info-circle"></i> 请再次输入您的密码</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-8 col-sm-offset-3">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" class="checkbox" id="agree" name="agree"> 我已经认真阅读并同意《屌丝社区使用协议》
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">

                        <div class="col-sm-8 col-sm-offset-3">
                            <button  id="b"  class="btn btn-primary" type="button"><i class="fa fa-check"></i>立即注册</button>
                        </div>
                    </div>
                </form>

                </div>
            </div>
          </div>


        </div>
    </div>
<script type="text/javascript">
    $(function(){
        toastr.options = {
            "closeButton": true,
            "debug": true,
            "progressBar": true,//显示下面的进度条
            "positionClass": "toast-top-right",//右上toast-top-right//toast-bottom-left:左下
            "showDuration": "400",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
            //错误 error //信息 info  //警告 warning //成功 success
        }
        $('#b').click(function () {
            toastr.error("I am yanying");
              $(this).button('loading'); //加载动画
//            $("#fat").button('reset');//清除动画

        })
    })

</script>
</body>
</html>