<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>屌丝社区</title>
    <%include include/head.html%>


</head>
<body class="gray-bg">

<div class="wrapper wrapper-content   animated fadeInRight blog">
    <div class="row ">
        <div class="col-sm-7 col-lg-offset-2">
            <div class="ibox " >
                <div class="ibox-content">
                    <fieldset class="layui-elem-field layui-field-title">
                        <legend>账户注册</legend>
                    </fieldset>
                    <form class="layui-form" action="">
                        <div class="layui-form-item">
                            <label class="layui-form-label">用户名</label></label>
                            <div class="layui-input-block">
                                <input type="text" name="name" required lay-verify="name"   placeholder="请输入用户名" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">Email</label>
                            <div class="layui-input-block">
                                <input type="email" name="email" required  lay-verify="email" placeholder="请输入邮箱" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">手机</label>
                            <div class="layui-input-block">
                                <input type="number" name="phone" required  lay-verify="phone" placeholder="请输入手机" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">密码</label>
                            <div class="layui-input-block">
                                <input type="password" id="pass" name="pass" required  lay-verify="pass" placeholder="请输入密码" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">密码</label>
                            <div class="layui-input-block">
                                <input type="password" name="pass2" required  lay-verify="pass2" placeholder="再输入密码" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button id="sub" class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
          </div>
        </div>
    </div>
<script type="text/javascript">
    layui.use(['form'], function(){
        var form = layui.form()
        //自定义验证规则
        form.verify({
            name: function(value){
                if(value.length < 3){
                    return '标题至少得3个字符啊';
                }
            },
//            email:[/^(\w)+(\.\w+)*@(\w)+((\.\w+)+)$/,'邮箱格式不正确啊'],
//            phone:[/^1[34578]\d{9}$/,'手机号码格式不正确啊'],
            pass: [/(.+){6,12}$/, '密码必须6到12位啊'],
            pass2: function (value) {
                var p = $("#pass").val();
                if(value!=p){
                    return '两次密码不一致啊'
                }
            }
        });

        //监听提交
        form.on('submit(formDemo)', function(data){
            $('#sub').button('loading'); //加载动画
            $.post('<%=_web.url%>/home/index/registerchcek',data.field,function (result) {
                if(result.errno>0){ //失败
                    layer.msg(result.errmsg,{icon: 5,time:2000})
                    $("#sub").button('reset');//清除动画
                }else{//成功
                    layer.msg(result.data.msg,{icon: 6,time:2000})
                    setTimeout("javascript:location.href='<%=_web.url%>/home/index/index'", 2000);
                }
            })
            return false;
        });
    });




</script>
</body>
</html>