<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>屌丝社区</title>
    <%include include/head.html%>
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content   animated fadeInRight blog">
    <div class="row ">
        <div class="col-sm-7 col-lg-offset-1">
            <div class="tabs-container">
                <ul class="nav nav-tabs">
                    <li class=""><a  href="<%=_web.url%>/home/index/addjoke" > 段子</a>
                    </li>
                    <li class="active"><a  href="<%=_web.url%>/home/index/addjokeimg" >图片</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div id="tab-1" class="tab-pane active">
                        <div class="ibox">
                            <div class="ibox-content">
                                <div class="row">
                                    <div class="col-md-1">
                                        <div class="m-b-sm">
                                            <img alt="image" class="img-circle" src="/static/img/a2.jpg" style="width: 40px">
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="small m-b-xs">
                                            <strong>高 晨</strong>
                                        </div>
                                        <span class="text-muted"><i class="fa fa-clock-o"></i> 3 小时前</span>
                                    </div>
                                </div>
                                <a href="article.html" class="btn-link">
                                    <h2>
                                        关于新 Apple TV，这里有几点你应该知道的
                                    </h2>
                                </a>

                                <p>
                                    新版的 Apple TV 之前一直有传闻将在 WWDC 上亮相，可是事与愿违。下一代 iPhone 即将于下月与大家见面，新版 Apple TV 将同新 iPhone 一起亮相的传言又是四起。而且现在的传言中还加入了新料。</p>
                                <p>

                                    据 9to5Mac 的消息，Apple TV 不仅要在九月亮相，其诸多细节也一并被曝出。
                                </p>
                                <!--下面按钮-->
                                <div class="row">
                                    <div class="col-md-4 col-md-offset-8">
                                        <div class="small text-right">
                                            <a class="btn btn-primary btn-xs" type="button"><i class="fa fa-thumbs-up">555 </i></a>
                                            <a class="btn btn-white btn-xs" type="button"><i class="fa fa-thumbs-down">545 </i></a>
                                            <a class="btn btn-primary btn-xs" type="button"><i class="fa fa-star-o"> </i></a>
                                            <a class="btn btn-white btn-xs" type="button"><i class="fa  fa-comments-o">56</i>评论</a>
                                            <a class="btn btn-white btn-xs" type="button"><i class="fa  fa-eye">56</i>浏览</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                    </div>
                </div>


            </div>
            <!---->

        </div>
        <div class="col-sm-3">
            <div class="ibox ">

                <div class="ibox-content">
                    <div class="tab-content">
                        <div id="contact-1" class="tab-pane active">
                            <div class="row m-b-lg">
                                <div class="col-lg-4 text-center">
                                    <h2>张有为</h2>

                                    <div class="m-b-sm">
                                        <img alt="image" class="img-circle" src="/static/img/a2.jpg" style="width: 62px">
                                    </div>
                                    <a class="btn btn-danger btn-circle btn-outline" type="button"><i class="fa fa-heart"></i> </a>
                                </div>
                                <div class="col-lg-8">
                                    <h3>
                                        个人简介
                                    </h3>

                                    <p>
                                        李彦宏，百度公司创始人、董事长兼首席执行官，全面负责百度公司的战略规划和运营划和运营划和运营划和运营管理。
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</body>
</html>