<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>屌丝社区</title>
    <%include include/head.html%>
    <link href="<%=_web.static%>/static/js/plugins/bootstrap-fileinput/css/fileinput.css" media="all" rel="stylesheet" type="text/css" />
    <script src="<%=_web.static%>/static/js/plugins/bootstrap-fileinput/js/fileinput.js"></script>
    <script src="<%=_web.static%>/static/js/plugins/bootstrap-fileinput/js/locales/zh.js"></script>
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content   animated fadeInRight blog">
    <div class="row ">
        <div class="col-sm-7 col-lg-offset-1">
            <div class="tabs-container">
                <ul class="nav nav-tabs">
                    <li class=""><a  href="<%=_web.url%>/home/index/addjoke" > 段子</a>
                    </li>
                    <li class="active"><a  href="<%=_web.url%>/home/index/addjokeimg" >图片</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div id="tab-1" class="tab-pane active">
                        <div class="ibox">
                            <div class="ibox-content">
                                <div class="row">
                                    <form class="layui-form" >
                                        <div class="layui-form-item">
                                            <!--<label class="layui-form-label">标题</label>-->
                                            <div class="layui-input-block-left">
                                                <input id="id" type="hidden" name="id" value="2"/>
                                                <input type="text" name="title" required lay-verify="title"   placeholder="说的啥撒" autocomplete="off" class="layui-input">
                                            </div>
                                        </div>
                                        <div class="layui-form-item">
                                            <div class="layui-input-block-left">
                                                <input id="file-zh" name="files"   class="file" type="file" multiple  data-preview-file-type="any"  >
                                                <!--<p class="help-block">支持jpg、png、gif格式，每张大小不超过2.0M</p>-->
                                            </div>
                                        </div>
                                        <div class="layui-form-item">
                                            <div class="layui-input-block-left">
                                                <button id="sub" class="layui-btn" lay-submit lay-filter="formDemo">立即发布</button>
                                                <!--<button type="reset" class="layui-btn layui-btn-primary">重置</button>-->
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>



                    </div>
                </div>


            </div>
            <!---->

        </div>
        <div class="col-sm-3">
            <div class="ibox ">

                <div class="ibox-content">
                    <div class="tab-content">
                        <div id="contact-1" class="tab-pane active">
                            <div class="row m-b-lg">
                                <div class="col-lg-4 text-center">
                                    <h2>张有为</h2>

                                    <div class="m-b-sm">
                                        <img alt="image" class="img-circle" src="/static/img/a2.jpg" style="width: 62px">
                                    </div>
                                    <a class="btn btn-danger btn-circle btn-outline" type="button"><i class="fa fa-heart"></i> </a>
                                </div>
                                <div class="col-lg-8">
                                    <h3>
                                        个人简介
                                    </h3>

                                    <p>
                                        李彦宏，百度公司创始人、董事长兼首席执行官，全面负责百度公司的战略规划和运营划和运营划和运营划和运营管理。
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</body>
<script type="text/javascript">
    var fileList = []
    $(function () {
        //上传成功后的删除事件
        $('#file-zh').on('filesuccessremove', function(event, previewId) {
            console.log(previewId)
            //将上传成功的根据id遍历删除
            for (var i = 0; i < fileList.length; i++) {
                if (fileList[i].ids== previewId) {
                    fileList.splice(i)
//                    delete fileList[i] //删除数组元素
                }
            }
            $('#file-zh').fileinput('refresh'); //刷新控件
            console.log(fileList)
        });
//        //选择图片后
        $('#file-zh').on('fileselect', function() {
            $('.kv-file-zoom').hide() //隐藏预览图标
        });

        //移除事件
        $('#file-zh').on('fileclear', function() {
            //清空数组
            fileList=[]
            $('#file-zh').fileinput('refresh'); //刷新控件
        });

        //上传成功回调
        $("#file-zh").on("fileuploaded", function (event, data, previewId, index) {
            var obj = data.response;
            if(obj.errno>0){
                layer.msg(obj.errmsg,{time: 2000, icon:5})
            }else{
                //将上传成功的图片与id放入到数组中
                fileList.push({fn:obj.data.path,ids:previewId})
                $('.fileinput-upload-button').hide()//隐藏上传
                $('.btn-file').hide()//隐藏选择图片按钮

//
            }
            console.log(fileList)
        });


        //上传失败回调
        $('#file-zh').on('fileerror', function(event, data, msg) {
            console.log(data.id);
            console.log(data.index);
            console.log(data.file);
            console.log(data.reader);
            console.log(data.files);
            // get message
            layer.msg(msg,{time: 2000, icon:5})
        });
    })
    $('#file-zh').fileinput({
        language: 'zh',
        multiple:'true',
//        showZoom:false, //是否隐藏预览
        showUpload: true, //是否显示上传按钮
        showRemove : true, //显示移除按钮
        overwriteInitial: false,
        uploadUrl: '/home/index/fileup',
        allowedFileExtensions : ['jpg', 'png','gif','jpeg'],
        enctype: 'multipart/form-data',
        maxFileCount: 1, //表示允许同时上传的最大文件个数
        maxFileSize : 4000, //单个文件大小
        msgFilesTooMany: "选择文件数量1个,单个4M,支持['jpg', 'png','gif','jpeg']",
//        previewFileIcon: "<i class='glyphicon glyphicon-king'></i>",
//        initialPreview:'' //显示的初始化预览内容。你可以传入一个简单的HTML标签用于显示图片
    });
    layui.use(['form','layer'], function(){
        var form = layui.form(),layer = layui.layer
        //自定义验证规则
        form.verify({
            title: function(value){
                if(value.length >15){
                    return '标题不能超过15个字符啊';
                }
            },
        });

        //监听提交
        form.on('submit(formDemo)', function(data){
            if(fileList.length==0){
                layer.msg('亲,必须上传一张图片啊',{time: 2000, icon:5})
                return false
            }else{
                var  title = data.field.title
                var imgurl = fileList[0].fn
                var id = $('#id').val()
                var data = {title:title,imgurl:imgurl,id:id}
                console.log(data)
                $('#sub').button('loading'); //加载动画
//                $.post('<%=_web.url%>/home/index/registerchcek',data,function (result) {
//                    if(result.errno>0){ //失败
//                        layer.msg(result.errmsg,{icon: 5,time:2000})
//                        $("#sub").button('reset');//清除动画
//                    }else{//成功
//                        layer.msg(result.data.msg,{icon: 6,time:2000})
//                        setTimeout("javascript:location.href='<%=_web.url%>/home/index/index'", 2000);
//                    }
//                })
            }
            return false;
        });
    });

</script>
</html>